<div>
  <h1>Ahora, logueate</h1>

  <form id="loginForm">

    <label>Email</label>
    <input name="email">

    <label>Contraseña</label>
    <input type="password" name="password">

    <input type="submit">
  </form>
</div>

<p>También puedes ingresar por:</p>
<a href="/api/sessions/github"><button>GitHub</button></a>

<script src="/js/login.js"></script>

{{!-- Revisar ruta src y boton de submit, no funciona si esta activo --}}